<div class="row">
  <div class="col-md-12">
    <h2 class="my-4">Liste des Posts
    </h2>
    <div class="list-group">
      <button class="list-group-item p-0 m-0 mb-3" *ngFor="let post of posts; let i = index" (click)="onViewPost(i)">
        <div [ngClass]="{'rounded-0':true ,'m-0':true, 'py-3': true, 'alert': true, 'alert-success': post.loveIts > 0, 'alert-danger':
  post.loveIts < 0}">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h2 class="font-weight-bold mb-0">{{ post.title }}</h2>
            </div>
            <div class="col-md-6 text-muted text-right"><em>
                {{ post.createdAt | date: 'EEEE dd MMMM yyyy, HH:mm'}}</em>
            </div>
            <div class="col-md-12"><button class="btn btn-sm btn-danger float-right" (click)="onDeletePost(post)"><i
                  class="fas fa-times"></i></button></div>
          </div>
          <div class="col-md-12 my-3 text-left">{{ post.content }}</div>
          <div class="col-md-12 mt-5">
            <p class="text-left">Créer par : {{ post.mailUser }}</p>
          </div>
          <div class="row pt-3">
            <div class="col-md-4">
              <button class="btn btn-success mb-2" (click)="post.loveIts=post.loveIts+1; onSaveLove()">Love it <i
                  class="fas fa-heart ml-2"></i></button>
              <button class="btn btn-danger mb-2 ml-2" (click)="post.loveIts=post.loveIts-1; onSaveLove()">Don't love it
                <i class="fas fa-heart-broken ml-2"></i></button>
            </div>
            <div class="col-md-4 offset-md-4">
              <span class="fa-layers fa-fw ml-auto">
                <i
                  [ngClass]="{'fas': true, 'fa-3x': true, 'fa-heart': post.loveIts >= 0, 'fa-heart-broken': post.loveIts < 0}"></i>
                <span class="fa-layers-counter fa-3x">{{post.loveIts}}</span>
              </span>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
